<% if account_entry.type == 'UnboundAccountEntry' %>
  <script>
    $(function() {
            var availablePayees = [
              <%= @payees.map{|p| "\"#{p.name}\""}.join(',').html_safe %>
            ];
            $("#unbound_account_entry_payee").autocomplete({ source: availablePayees, delay: 0 });
    });
  </script>
<% end %>
<%= simple_form_for([@account,account_entry], :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :entry_type, :as => :radio_buttons, :collection => AccountEntry.valid_entry_types %>
  <%= f.input :date_string, :label => 'Date', :input_html => {:class => "datepicker"} %>
  <%= f.input :check_number, :input_html => {:class => "check-number"} %>
  <% if account_entry.type == 'UnboundAccountEntry' %>
    <%= f.input :payee, :input_html => {:class => "payee"} %>
  <% else %>
    <%= f.association :shareholder, :collection => account_entry.open_shareholders, :include_blank => false %>
  <% end %>
  <%= f.input :entry_amount, :input_html => {:class => "entry-amount"} %>
  <%= f.input :note, :input_html => {:class => "note"} %>
  <%= f.input :cleared %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <% unless account_entry.new_record? %>
      <%= link_to("Enter Another Shareholder Account Entry", new_account_shareholder_account_entry_path(@account), class: "btn") if account_entry.type == "ShareholderAccountEntry" %>
      <%= link_to("Enter Another Unbound Account Entry", new_account_unbound_account_entry_path(@account), class: "btn") if account_entry.type == "UnboundAccountEntry" %>
    <% end %>
  </div>
<% end %>
