<dl>
  <dt>Entry type</dt>
  <dd><%= account_entry.entry_type %></dd>

  <dt>Date</dt>
  <dd><%= account_entry.date %></dd>

  <dt>Check number</dt>
  <dd><%= account_entry.check_number || 'N/A' %></dd>

  <% if account_entry.type == 'UnboundAccountEntry' %>
    <dt>Payee</dt>
    <dd><%= account_entry.payee %></dd>
  <% else %>
    <dt>Shareholder</dt>
    <dd><%= account_entry.shareholder.name %></dd>
  <% end %>

  <dt>Entry amount</dt>
  <dd><%= number_to_currency(account_entry.entry_amount) %></dd>

  <dt>Note</dt>
  <dd><%= account_entry.note %>&nbsp;</dd>

  <dt>Cleared</dt>
  <dd><%= account_entry.cleared ? 'Yes' : 'No' %></dd>
</dl>

<p><%= link_to('Edit', [:edit,@account,account_entry], :class => 'btn') if can? :edit, account_entry %></p>
<% if can? :delete, account_entry %>
  <%= button_to "Delete", [@account,account_entry],{method: :delete, confirm: "Are you sure you want to delete this account entry?", class: "btn btn-danger"} %> 
<% end %>
