<% content_for :title, "#{@account.name}: Listing Account Entries" %>
<h1>Listing Account Entries</h1>

<form class="well form-inline">
  <%= select :query, :cleared_status, AccountEntryQuery.cleared_statuses %>
  <%= label :query, :cleared_status, "entries," %>
  <%= select :query, :entry_type, AccountEntryQuery.entry_types %>
  <%= label :query, :with_text, ", containing" %>
  <%= text_field :query, :with_text, placeholder: 'any text' %> 
  <br>
  <%= label :query, :start_date, "from" %>
  <%= text_field :query, :start_date, class: 'datepicker', placeholder: 'the very start' %> 
  <%= label :query, :end_date, "to" %>
  <%= text_field :query, :end_date, :class => 'datepicker', placeholder: 'the very end' %> 
  <%= label :query, :payee_shareholder_id, "entered by" %>
  <%= select :query, :payee_shareholder_id, grouped_options_for_select(AccountEntryQuery.grouped_shareholders,@query.payee_shareholder_id) %>
  <br>
  <button type="submit" class="btn">Search</button> 
</form>

<table class="table-striped table-bordered table-condensed">
  <tr>
    <th>Date</th>
    <th>Check #</th>
    <th>Payee</th>
    <th>Deposit</th>
    <th>Withdrawal</th>
    <th>Cleared</th>
    <th>Balance</th>
    <th>Cleared Balance</th>
    <th></th>
    <th></th>
  </tr>

  <% balance = @account_entries.first.try(:balance) %>
  <% cleared_balance = nil %>
  <% @account_entries.each do |account_entry| %>
    <tr>
      <td><%= account_entry.date %></td>
      <td><%= account_entry.check_number %></td>
      <td><%= account_entry.recipient %></td>
      <td class="currency"><%= number_to_currency account_entry.deposit_amount %></td>
      <td class="currency"><%= number_to_currency account_entry.withdrawal_amount %></td>
      <td class="center"><%= account_entry.cleared ? "\u2714" : nil %></td>
      <td class="currency"><%= number_to_currency balance %></td>
      <td class="currency"><%= number_to_currency cleared_balance || account_entry.cleared_balance %></td>
      <% balance -= account_entry.amount %>
      <% cleared_balance = account_entry.cleared_balance if cleared_balance.blank? %>
      <% cleared_balance -= account_entry.amount if cleared_balance.present? && account_entry.cleared? %>
      <% if account_entry.type == 'BillAccountEntry' %>
        <td><%= link_to 'View', [@account,account_entry.bill] %></td>
        <td><%= link_to('Edit', [:edit,@account,account_entry.bill]) if can? :edit, account_entry.bill %></td>
      <% else %>  
        <td><%= link_to 'View', [@account,account_entry] %></td>
        <td><%= link_to('Edit', [:edit,@account,account_entry]) if can? :edit, account_entry %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= will_paginate @account_entries %>
