<tr>
  <td><%= account_entry_row.date %></td>
  <td><%= account_entry_row.recipient %></td>
  <td class="currency"><%= number_to_currency (account_entry_row.amount) %></td>
  <td><%= account_entry_row.entry_type %></td>
  <% truncated_note = truncate(account_entry_row.note, separator: ' ') %>
  <td title="<%= (account_entry_row.note == truncated_note) ? nil : account_entry_row.note %>"><%= truncated_note %></td>
  <td/>
  <td/>
  <td class="currency"><%= offset_amount == 0 ? nil : number_to_currency(offset_amount) %></td>
  <% if @q.can_use_running_total %>
    <td class="currency"><%= number_to_currency running_total %></td>
  <% end %>
  <% if @q.show_change_date_fields %>
    <td><%= account_entry_row.created_at %></td>
    <td><%= account_entry_row.updated_at %></td>
  <% end %>
  <td><%= link_to('Details', [@account,account_entry_row]) %></td>
  <td><%= link_to('Edit', [:edit,@account,account_entry_row]) if can? :edit, account_entry_row %></td>
</tr>
