<tr>
  <td><%= account_entry_row.date %></td>
  <td><%= account_entry_row.recipient %></td>
  <td class="currency"><%= number_to_currency (account_entry_row.withdrawal_amount) %></td>
  <td class="currency"><%= number_to_currency (account_entry_row.deposit_amount) %></td>
  <td><%= account_entry_row.entry_type %></td>
  <td><%= truncate account_entry_row.note %></td>
  <td class="currency"><%= number_to_currency amount %></td>
  <td class="currency"><%= number_to_currency 0 %></td>
  <td class="currency"><%= number_to_currency amount %></td>
  <% if @query.can_use_running_total %>
    <td class="currency">
      <%= number_to_currency running_total %>
    </td>
  <% end %>
  <td><%= link_to('View', [@account,account_entry_row]) %></td>
  <td><%= link_to('Edit', [:edit,@account,account_entry_row]) if can? :edit, account_entry_row %></td>
</tr>
