<tr>
  <td><%= bill_row.date %></td>
  <td><%= bill_row.recipient %></td>
  <td class="currency"><%= number_to_currency (bill_row.bill_amount) %></td>
  <td class="currency"><%= number_to_currency (bill_row.credit_amount) %></td>
  <td><%= bill_row.bill_type.name %></td>
  <% truncated_note = truncate(bill_row.note, separator: ' ') %>
  <td title="<%= (bill_row.note == truncated_note) ? nil : bill_row.note %>"><%= truncated_note %></td>
  <% offset_amount = bill_row.shareholder_offset_amount(@shareholder) %>
  <td class="currency"><%= offset_amount == 0 ? nil : number_to_currency(offset_amount) %></td>
  <% balance_amount = bill_row.shareholder_balance_amount(@shareholder) %>
  <td class="currency"><%= balance_amount == 0 ? nil : number_to_currency(balance_amount) %></td>
  <td class="currency"><%= amount == 0 ? nil : number_to_currency(amount) %></td>
  <% if @query.can_use_running_total %>
    <td class="currency">
      <%= number_to_currency running_total %>
    </td>
  <% end %>
  <td><%= link_to('View', [@account,bill_row]) %></td>
  <td><%= link_to('Edit', [:edit,@account,bill_row]) if can? :edit, bill_row %></td>
</tr>
