<tr>
  <td><%= bill_row.date %></td>
  <td><%= bill_row.recipient %></td>
  <td class="currency"><%= number_to_currency (bill_row.amount) %></td>
  <td><%= bill_row.bill_type.name %></td>
  <% truncated_note = truncate(bill_row.note, separator: ' ') %>
  <td title="<%= (bill_row.note == truncated_note) ? nil : bill_row.note %>"><%= truncated_note %></td>
  <td class="currency"><%= amount == 0 ? nil : number_to_currency(amount) %></td>
  <% if @query.can_use_running_total %>
    <td class="currency">
      <%= number_to_currency running_total %>
    </td>
  <% end %>
  <td><%= link_to('Show Details', [@account,bill_row], class: "view-bill", data: { url: url_for(show_shares_account_bill_url(@account,bill_row))}) %></td>
  <td><%= link_to('Edit', [:edit,@account,bill_row]) if can? :edit, bill_row %></td>
</tr>
<tr style="display:none">
  <td colspan="12", class="shares">
  </td>
</tr>
