<tr>
  <td><%= bill_row.date %></td>
  <td><%= bill_row.recipient %></td>
  <td class="currency"><%= number_to_currency (bill_row.bill_amount) %></td>
  <td class="currency"><%= number_to_currency (bill_row.credit_amount) %></td>
  <td><%= bill_row.bill_type.name %></td>
  <td><%= truncate bill_row.note %></td>
  <td class="currency"><%= number_to_currency amount %></td>
  <td class="currency">
    <% if @query.can_use_running_total %>
      <%= number_to_currency running_total %>
    <% else %>
      <%= number_to_currency bill_row.balance_for(@shareholder) %>
    <% end %>
  </td>
  <td><%= link_to('View', [@account,bill_row]) %></td>
  <td><%= link_to('Edit', [:edit,@account,bill_row]) if can? :edit, bill_row %></td>
</tr>
