<% content_for :title, "#{@account.name} Account Events" %>
<h1><%= @account.name %> Account Events</h1>
<button type="button" id="search-toggle-bills" class="search-toggle btn btn-large pull-right">
  Search Options
</button>
<form id="search" class="well form-horizontal" style="display:<%= cookies[:show_search] ? "block" : "none" %>;">
  <div class="form-group">
    <%= label :query, :bill_type_id, "Bill type", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select :query, :bill_type_id, BalanceEventQuery.bill_types(@account) %>
    </div>
  </div>
  <div class="form-group">
    <%= label :query, :with_text, "Entries containing", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :query, :with_text, placeholder: 'any text' %>
    </div>
  </div>
  <div class="form-group">
    <%= label :query, :start_date, "Start date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :query, :start_date, class: 'datepicker', placeholder: 'the very start' %>
    </div>
  </div>
  <div class="form-group">
    <%= label :query, :end_date, "End date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :query, :end_date, :class => 'datepicker', placeholder: 'the very end' %>
    </div>
  </div>
  <div class="form-group">
    <%= label :query, :payee_shareholder_id, "Entered by", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select :query, :payee_shareholder_id, grouped_options_for_select(BalanceEventQuery.grouped_shareholders,@query.payee_shareholder_id) %>
    </div>
  </div>
  <div class="form-group">
    <%= label :query, :share_shareholder_id, "Shared by", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select :query, :share_shareholder_id, grouped_options_for_select(BalanceEventQuery.grouped_shareholders,@query.share_shareholder_id) %>
    </div>
  </div>
  <button type="submit" class="btn btn-primary col-sm-offset-2">Search</button>
  <button type="submit" name="output" value="CSV" class="btn btn-info">Export</button>
</form>

<table class="table table-hover table-condensed">
  <tr>
    <th>Date</th>
    <th>Payee</th>
    <th class="currency">Amount</th>
    <th>Type</th>
    <th>Note</th>
    <th class="currency">Net Change</th>
    <% if @query.can_use_running_total %>
      <th class="currency">My Balance</th>
    <% end %>
    <th></th>
    <th></th>
  </tr>
  <% balance_events = @balance_events.all %>
  <% if balance_events.first.present? %>
    <% running_total = balance_events.first.bill.balance_for(@shareholder) if @query.can_use_running_total && balance_events.first.bill.present? %>
    <% running_total = balance_events.first.account_entry.balance_for(@shareholder) if @query.can_use_running_total && balance_events.first.account_entry.present? %>
  <% else %>
    <tr>
      <td colspan="10" class="center">No records to see here, move along...</td>
    </tr>
  <% end %>
  <% balance_events.each do |item| %>
    <% if item.bill.present? %>
      <% amount = item.bill.shareholder_change_amount(@shareholder) %>
      <%= render :partial => 'bill_row', :locals => { :bill_row => item.bill, :running_total => running_total, :amount => amount } %>
    <% else %>
      <% amount = item.account_entry.shareholder_offset_amount(@shareholder) %>
      <%= render :partial => 'account_entry_row', :locals => { :account_entry_row => item.account_entry, :running_total => running_total, :amount => amount } %>
    <% end %>
    <% running_total -= amount if @query.can_use_running_total %>
  <% end %>
</table>
<%= will_paginate @balance_events %>
