<% content_for :title, "#{@account.name} Account Events" %>
<h1><%= @account.name %> Account Events</h1>
<button type="button" id="search-toggle-bills" class="search-toggle btn btn-large pull-right">
  Search Options
  <% if cookies[:show_search_bills] %>
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
  <% else %>
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  <% end %>
</button>
<form id="search" class="well form-horizontal" style="display:<%= cookies[:show_search_bills] ? "block" : "none" %>;">
  <div class="form-group">
    <%= label :q, :balance_shareholder_id, "Show costs for", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select :q, :balance_shareholder_id, grouped_options_for_select(BalanceEventQuery.grouped_shareholders,@q.balance_shareholder_id) %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :bill_type_id, "Bill type", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select :q, :bill_type_id, BalanceEventQuery.bill_types(@account) %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :with_text, "Entries containing", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :q, :with_text, placeholder: 'any text' %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :start_date, "Entry start date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :q, :start_date, class: 'datepicker', placeholder: 'the very start' %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :end_date, "Entry end date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :q, :end_date, :class => 'datepicker', placeholder: 'the very end' %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :payee_shareholder_id, "Entered by", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select :q, :payee_shareholder_id, grouped_options_for_select(BalanceEventQuery.grouped_shareholders_plus_all,@q.payee_shareholder_id) %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :share_shareholder_id, "Shared by", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select :q, :share_shareholder_id, grouped_options_for_select(BalanceEventQuery.grouped_shareholders_plus_all,@q.share_shareholder_id) %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :changed_at_start_date, "Changed at start date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :q, :changed_at_start_date, class: 'datepicker', placeholder: 'the very start' %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :changed_at_end_date, "Changed at end date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :q, :changed_at_end_date, :class => 'datepicker', placeholder: 'the very end' %>
    </div>
  </div>
  <button type="submit" class="btn btn-primary col-sm-offset-2">Search</button>
  <button type="submit" name="output" value="CSV" class="btn btn-info">Export</button>
</form>

<table class="table table-hover table-condensed">
  <tr>
    <th rowspan="2" class="bottom">Event Date</th>
    <th rowspan="2" class="bottom">Payee</th>
    <th rowspan="2" class="currency bottom">Amount</th>
    <th rowspan="2" class="bottom">Type</th>
    <th rowspan="2" class="bottom">Note</th>
    <th colspan="<%= @q.can_use_running_total ? 4 : 3 %>" class="center">Costs for <%= @shareholder.name %></th>
    <% if @q.show_change_date_fields %>
      <th rowspan="2" class="bottom">Created Date</th>
      <th rowspan="2" class="bottom">Updated Date</th>
    <% end %>
    <th rowspan="2" class="bottom"></th>
    <th rowspan="2" class="bottom"></th>
  </tr>
  <tr>
    <th class="currency">Share</th>
    <th class="currency">Offset</th>
    <th class="currency">Change</th>
    <% if @q.can_use_running_total %>
      <th class="currency bottom">Balance</th>
    <% end %>
  </tr>
  <% balance_events = @paginated_balance_events.to_a %>
  <% running_total = 0 %>
  <% if balance_events.first.present? %>
    <% if @q.can_use_running_total %>
      <% if balance_events.first.bill.present? %>
        <% running_total = balance_events.first.bill.balance_for(@shareholder) %>
      <% elsif balance_events.first.account_entry.present? %>
        <% running_total = balance_events.first.account_entry.balance_for(@shareholder) %>
      <% end %>
    <% end %>
  <% else %>
    <tr>
      <td colspan="100%" class="center">Nothing to see here, move along...</td>
    </tr>
  <% end %>
  <% sum_of_item_amounts_this_page   = 0 %>
  <% sum_of_share_amounts_this_page  = 0 %>
  <% sum_of_offset_amounts_this_page = 0 %>
  <% sum_of_change_amounts_this_page = 0 %>
  <% balance_events.each do |item| %>
    <% if item.bill.present? %>
      <% share_amount  = item.bill.shareholder_share_amount(@shareholder)  %>
      <% offset_amount = item.bill.shareholder_offset_amount(@shareholder) %>
      <% change_amount = share_amount + offset_amount %>
      <% sum_of_share_amounts_this_page  += share_amount  %>
      <% sum_of_offset_amounts_this_page += offset_amount %>
      <% sum_of_change_amounts_this_page += change_amount %>
      <% sum_of_item_amounts_this_page   += item.bill.amount %>
      <%= render :partial => 'bill_row', :locals => { :bill_row => item.bill,
                                                      :running_total => running_total,
                                                      :share_amount => share_amount,
                                                      :offset_amount => offset_amount,
                                                      :change_amount => change_amount
                                                    } %>
    <% else %>
      <% offset_amount = item.account_entry.shareholder_offset_amount(@shareholder) %>
      <% change_amount = offset_amount %>
      <% sum_of_change_amounts_this_page += offset_amount %>
      <% sum_of_item_amounts_this_page += item.account_entry.amount %>
      <%= render :partial => 'account_entry_row', :locals => { :account_entry_row => item.account_entry,
                                                               :running_total => running_total,
                                                               :offset_amount => offset_amount,
                                                             } %>
    <% end %>
    <% running_total -= change_amount if @q.can_use_running_total %>
  <% end %>
  <tr>
    <% if @paginated_balance_events.total_pages > 1 %>
      <th colspan="2">Total this page</th>
    <% else %>
      <th colspan="2">Total</th>
    <% end %>
    <th class="currency">
      <%= number_to_currency sum_of_item_amounts_this_page %>
    </th>
    <th/>
    <th/>
    <th class="currency">
      <%= number_to_currency sum_of_share_amounts_this_page %>
    </th>
    <th class="currency">
      <%= number_to_currency sum_of_offset_amounts_this_page %>
    </th>
    <th class="currency">
      <%= number_to_currency sum_of_change_amounts_this_page %>
    </th>
    <% if @q.can_use_running_total %>
      <th class="currency"></th>
    <% end %>
    <% if @q.show_change_date_fields %>
      <th/>
      <th/>
    <% end %>
    <th/>
    <th/>
  </tr>
  <% if @paginated_balance_events.total_pages > 1 %>
    <tr>
      <th colspan="2">Total all pages</th>
      <th class="currency">
        <%= number_to_currency @sum_of_item_amounts %>
      </th>
      <th/>
      <th/>
      <th class="currency">
        <%= number_to_currency @sum_of_share_amounts %>
      </th>
      <th class="currency">
        <%= number_to_currency @sum_of_offset_amounts %>
      </th>
      <th class="currency">
        <%= number_to_currency(@sum_of_share_amounts + @sum_of_offset_amounts) %>
      </th>
      <% if @q.can_use_running_total %>
        <th/>
      <% end %>
      <% if @q.show_change_date_fields %>
        <th/>
        <th/>
      <% end %>
      <th/>
      <th/>
    </tr>
  <% end %>
</table>
<%= will_paginate @paginated_balance_events %>
