<script>
  $(function() {
    <% if bill.type == 'AccountBill' %>
            var availablePayees = [
              <%= @payees.map{|p| "\"#{p.name}\""}.join(',').html_safe %>
            ];
            $("#account_bill_payee").autocomplete({ source: availablePayees, delay: 0 });
    <% end %>
    <% if @account.lock_records_before.present? %>
      $(".datepicker").datepicker("option", "minDate", new Date("<%= (@account.lock_records_before.to_date + 1.day).to_s(:db) %>"));
    <% end %>
  });
</script>
<%= simple_form_for([@account,bill], html: {class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :entry_type, as: :radio_buttons, collection: Bill.valid_entry_types %>
  <%= f.input :date_string, label: 'Date', required: true, input_html: {class: "datepicker"} %>
  <% if bill.type == 'AccountBill' %>
    <%=  f.simple_fields_for :bill_account_entry, bill.bill_account_entry do |bae| %>
      <%= bae.input :check_number, input_html: {class: "check-number"} %>
    <% end %>
    <%= f.input :payee, input_html: {class: "payee"} %>
  <% else %>
    <%= f.association :shareholder, collection: bill.open_shareholders, include_blank: false, input_html: {class: "shareholder"} %>
  <% end %>
  <%= f.input :entry_amount, input_html: {class: "entry-amount"} %>
  <%= f.association :bill_type, collection: @account.bill_types.default_order, input_html: { class: "bill-type" } %>
  <%= f.input :note, input_html: {class: "note"} %>
  <% if bill.type == 'AccountBill' %>
    <%=  f.simple_fields_for :bill_account_entry, bill.bill_account_entry do |bae| %>
      <%= bae.input :cleared %>
    <% end %>
  <% end %>

  <h3>Bill Shares</h3>
  <div class="grid shares">
    <div class="grid-row header">
      <div class="grid-cell column-first">Name</div>
      <div class="grid-cell column-second">Share</div>
      <div class="grid-cell column-third currency">Amount</div>
      <div class="grid-cell column-fourth">Delete</div>
    </div>
    <%=  f.simple_fields_for :bill_share_balance_entries, @bill_share_balance_entries do |b| %>
      <div class="grid-row data">
        <div class="grid-cell column-first"><%= b.object.shareholder.name %><%= b.input :shareholder_id, as: :hidden %></div>
        <div class="grid-cell column-second"><%= b.input :share, label: false, input_html: {min: 1, class: "share-ratio"}  %></div>
        <div class="grid-cell column-third currency"><%= number_to_currency(b.object.amount) %><%= b.input :account_id, as: :hidden %></div>
        <div class="grid-cell column-fourth"><%= b.input :_destroy, label: false, as: :boolean %></div>
      </div>
    <% end %>
    <% if bill.excluded_open_shareholders.present? %>
      <%= f.fields_for :bill_share_balance_entries, bill.bill_share_balance_entries.build(account: @account) do |b| %>
        <div class="grid-row data">
          <div class="grid-cell column-first"><%= b.association :shareholder, label: false, collection: bill.excluded_open_shareholders %></div>
          <div class="grid-cell column-second"><%= b.input :share, label: false, input_html: {min: 1, class: "share-ratio"} %><%= b.input :account_id, as: :hidden %></div>
          <div class="grid-cell column-third"></div>
          <div class="grid-cell column-fourth"></div>
        </div>
      <% end %>
    <% end %>
    <% unless bill.new_record? %>
      <div class="grid-row data">
        <div class="grid-cell column-first">Pot</div>
        <div class="grid-cell column-second">&nbsp;</div>
        <div class="grid-cell column-third currency"><%= number_to_currency(bill.pot_balance_entry.amount) %></div>
        <div class="grid-cell column-fourth"></div>
      </div>
    <% end %>
  </div>

  <% unless bill.new_record? %>
    <dl>
      <dt>Created</dt>
      <dd><%= bill.created_at %></dd>

      <dt>Updated</dt>
      <dd><%= bill.updated_at %></dd>
    </dl>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
<% if !bill.new_record? && can?(:delete, bill) %>
  <%= button_to "Delete Bill", [@account,bill], {method: :delete, data: { confirm: "Are you sure you want to delete this bill?" }, class: "btn btn-danger pull-right delete-button"} %>
<% end %>
