<% if bill.type == 'AccountBill' %>
  <script>
    $(function() {
            var availablePayees = [
              <%= @payees.map{|p| "\"#{p.name}\""}.join(',').html_safe %>
            ];
            $("#account_bill_payee").autocomplete({ source: availablePayees, delay: 0 });
    });
  </script>  
<% end %>
<%= simple_form_for([@account,bill]) do |f| %>
  <%= f.input :entry_type, :as => :radio, :collection => Bill.valid_entry_types %>
  <%= f.input :date %>
  <% if bill.type == 'AccountBill' %>
    <%=  f.simple_fields_for :bill_account_entry, bill.bill_account_entry do |bae| %>
      <%= bae.input :check_number, :input_html => {:size => 5} %>
    <% end %>
    <%= f.input :payee %>
  <% else %>
    <%= f.association :shareholder, :collection => bill.open_shareholders, :include_blank => false %>
  <% end %>
  <%= f.input :entry_amount, :input_html => {:size => 5} %>
  <%= f.association :bill_type, :collection => @account.bill_types %>
  <%= f.input :note, :input_html => {:rows => 1} %>
  <h3>Bill Shares</h3>
  <div class="table shares">
    <div class="row header">
      <div class="cell column-first">Name</div>
      <div class="cell column-second">Share</div>
      <div class="cell column-third currency">Amount</div>
      <div class="cell column-fourth">Delete</div>
    </div>
    <%=  f.simple_fields_for :bill_share_balance_entries, @bill_share_balance_entries do |b| %>
      <div class="row data">
        <div class="cell column-first"><%= b.object.shareholder.name %><%= b.input :shareholder_id, :as => :hidden %></div>
        <div class="cell column-second"><%= b.input :share, :label => false, :input_html => {:size => 1} %></div>
        <div class="cell column-third currency"><%= number_to_currency(b.object.amount) %><%= b.input :account_id, :as => :hidden %></div>
        <div class="cell column-fourth"><%= b.input :_destroy, :label => false, :as => :boolean %></div>
      </div>
    <% end %>
    <% if bill.excluded_open_shareholders.present? %>
      <%= f.fields_for :bill_share_balance_entries, bill.bill_share_balance_entries.build(:account => @account) do |b| %>
        <div class="row data">
          <div class="cell column-first"><%= b.association :shareholder, :label => false, :collection => bill.excluded_open_shareholders %></div>
          <div class="cell column-second"><%= b.input :share, :label => false, :input_html => {:size => 1} %><%= b.input :account_id, :as => :hidden %></div>
          <div class="cell column-third"></div>
          <div class="cell column-fourth"></div>
        </div>
      <% end %>
    <% end %>
    <% unless bill.new_record? %>
      <div class="row data">
        <div class="cell column-first">Pot</div>
        <div class="cell column-second">&nbsp;</div>
        <div class="cell column-third currency"><%= number_to_currency(bill.pot_balance_entry.amount) %></div>
        <div class="cell column-fourth"></div>
      </div>
    <% end %>
  </div>
  <div>
    <%= f.button :submit %>
  </div>
<% end %>
