<dl>
  <dt>Entry type</dt>
  <dd><%= bill.entry_type %></dd>

  <dt>Date</dt>
  <dd><%= bill.date %></dd>

  <% if bill.type == 'AccountBill' %>
    <dt>Check number</dt>
    <dd><%= bill.bill_account_entry.check_number || 'N/A' %></dd>

    <dt>Payee</dt>
    <dd><%= bill.payee %></dd>
  <% else %>
    <dt>Shareholder</dt>
    <dd><%= bill.shareholder.name %></dd>
  <% end %>

  <dt>Entry amount</dt>
  <dd><%= number_to_currency(bill.entry_amount) %></dd>

  <dt>Bill type</dt>
  <dd><%= bill.bill_type.name %></dd>

  <dt>Note</dt>
  <dd><%= bill.note %></dd>
</dl>

<hr>
<h3>Bill Shares</h3>
<%= render "bills/shares", bill: bill %>

<dl>
  <dt>Created</dt>
  <dd><%= bill.created_at %></dd>

  <dt>Updated</dt>
  <dd><%= bill.updated_at %></dd>
</dl>

<p>
<%= link_to("Edit This #{bill_description(bill)}", [:edit,@account,bill], :class => 'btn btn-default') if can? :edit, bill %>
<%= link_to("Enter a New Account Bill", new_account_account_bill_path(@account), class: "btn btn-primary") if bill.type == "AccountBill" %>
<%= link_to("Enter a New Shareholder Bill", new_account_shareholder_bill_path(@account), class: "btn btn-primary") if bill.type == "ShareholderBill" %>
</p>
