<dl>
  <dt>Entry type</dt>
  <dd><%= bill.entry_type %></dd>

  <dt>Date</dt>
  <dd><%= bill.date %></dd>

  <% if bill.type == 'AccountBill' %>
    <dt>Check number</dt>
    <dd><%= bill.bill_account_entry.check_number || 'N/A' %></dd>

    <dt>Payee</dt>
    <dd><%= bill.payee %></dd>
  <% else %>
    <dt>Shareholder</dt>
    <dd><%= bill.shareholder.name %></dd>
  <% end %>

  <dt>Entry amount</dt>
  <dd><%= number_to_currency(bill.entry_amount) %></dd>

  <dt>Bill type</dt>
  <dd><%= bill.bill_type.name %></dd>

  <dt>Note</dt>
  <dd><%= bill.note %></dd>
</dl>

<h3>Bill Shares</h3>
<div class="grid shares">
  <div class="grid-row header">
    <div class="grid-cell column-first">Name</div>
    <div class="grid-cell column-second">Share</div>
    <div class="grid-cell column-third currency">Amount</div>
    <div class="grid-cell column-third currency">Balance</div>
  </div>
  <% balance_entries = bill.bill_share_balance_entries.includes(:shareholder) %>
  <% balances = bill.balances_for(balance_entries.map{|be| be.shareholder }) %>
  <% balance_entries.each do |be| %>
    <div class="grid-row data">
      <div class="grid-cell column-first"><%= be.shareholder.name %></div>
      <div class="grid-cell column-second"><%= be.share %></div>
      <div class="grid-cell column-third currency"><%= number_to_currency(be.amount) %></div>
      <div class="grid-cell column-third currency"><%= number_to_currency(balances[be.shareholder.id]) %></div>
    </div>
  <% end %>
  <div class="grid-row data">
    <div class="grid-cell column-first">Pot</div>
    <div class="grid-cell column-second">&nbsp;</div>
    <div class="grid-cell column-third currency"><%= number_to_currency(bill.pot_balance_entry.amount) %></div>
    <div class="grid-cell column-third currency"></div>
  </div>
</div>

<%= link_to('Edit', [:edit,@account,bill], :class => 'btn') if can? :edit, bill %>
<% if can? :delete, bill %>
  <%= button_to "Delete", [@account,bill], {method: :delete, confirm: "Are you sure you want to delete this bill?", class: "btn btn-danger"} %> 
<% end %>
