<h1>Listing Bills</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Payee</th>
    <th>Bill Amount</th>
    <th>Credit Amount</th>
    <th>Type</th>
    <th>Note</th>
    <th>My Part</th>
  </tr>
<% @bills_and_entries.each do |item| %>
  <% if item.type.include? 'Bill' %>
    <%= render :partial => 'bill_row', :locals => { :bill_row => item } %>
  <% else %>
    <%= render :partial => 'account_entry_row', :locals => { :account_entry_row => item } %>
  <% end %>
<% end %>

</table>
<%= will_paginate @bills %>
<br />
<%= link_to 'New bill paid by housemate', new_account_shareholder_bill_path(@account) %>
<br />
<%= link_to 'New bill paid from account', new_account_account_bill_path(@account) %>
