<form id="search" class="well form-horizontal">
  <div class="form-group">
    <%= label :q, :start_date, "Entry start date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :q, :start_date, class: 'datepicker', placeholder: 'the very start' %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :end_date, "Entry end date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field :q, :end_date, :class => 'datepicker', placeholder: 'the very end' %>
    </div>
  </div>
  <div class="form-group">
    <%= label :q, :shareholder_id, "Shared by", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select :q, :shareholder_id, grouped_options_for_select(ChartQuery.grouped_shareholders,@q.shareholder_id) %>
    </div>
  </div>
  <button type="submit" class="btn btn-primary col-sm-offset-2">Search</button>
</form>

<%= chart_tag('bill_types_by_month_for_current_user_line_chart', 400, params) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="currency">
        Month
      </th>
      <% @bill_types.keys.sort_by{ |a| a.name}.each do |bill_type| %>
        <th class="currency"><%= bill_type.name %></th>
      <% end %>
      <th class="currency">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @months.keys.sort.each do |month| %>
      <tr>
        <th class="currency">
          <%= "#{month[1]}-#{month[0]}" %>
        </th>
        <% @bill_types.keys.sort_by{ |a| a.name}.each do |bill_type| %>
          <td class="currency">
            <%= link_to_unless(@values[[bill_type, month]].nil?,
                               number_to_currency(@values[[bill_type, month]]),
                               account_balance_events_path(@account,
                                                           "q[bill_type_id]"         => bill_type.id,
                                                           "q[start_date]"           => Date.new(month[0], month[1]),
                                                           "q[end_date]"             => Date.new(month[0], month[1], -1),
                                                           "q[share_shareholder_id]" => @q.shareholder_id
                                                          )
                              ) %>
          </td>
        <% end %>
        <th class="currency">
          <%= link_to(number_to_currency(@months[month]),
                      account_balance_events_path(@account,
                                                  "q[start_date]"           => Date.new(month[0], month[1]),
                                                  "q[end_date]"             => Date.new(month[0], month[1], -1),
                                                  "q[share_shareholder_id]" => @q.shareholder_id
                                                 )
                     ) %>
        </th>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th class="currency">
        Total
      </th>
      <% @bill_types.keys.sort_by{ |a| a.name}.each do |bill_type| %>
        <th class="currency">
          <%= link_to(number_to_currency(@bill_types[bill_type]),
                      account_balance_events_path(@account,
                                                  "q[bill_type_id]"         => bill_type.id,
                                                  "q[start_date]"           => @q.start_date,
                                                  "q[end_date]"             => @q.end_date,
                                                  "q[share_shareholder_id]" => @q.shareholder_id
                                                 )
                     ) %>
        </th>
      <% end %>
      <th class="currency">
        <%= link_to(number_to_currency(@bill_types.values.reduce(:+)),
                    account_balance_events_path(@account,
                                                "q[start_date]"           => @q.start_date,
                                                "q[end_date]"             => @q.end_date,
                                                "q[share_shareholder_id]" => @q.shareholder_id
                                               )
                   ) %>
      </th>
    </tr>
  </tfoot>
</table>
