<% content_for :title, "#{@account.name}: Listing Bills" %>
<h1><%= @account.name %>: Listing Account Events</h1>

<form class="well form-inline">
  <%= select :query, :bill_type_id, BalanceEntryQuery.bill_types(@account) %>
  <%= label :query, :with_text, "entries containing" %>
  <%= text_field :query, :with_text, placeholder: 'any text' %> 
  <br>
  <%= label :query, :start_date, "from" %>
  <%= text_field :query, :start_date, class: 'datepicker', placeholder: 'the very start' %> 
  <%= label :query, :end_date, "to" %>
  <%= text_field :query, :end_date, :class => 'datepicker', placeholder: 'the very end' %> 
  <%= label :query, :payee_shareholder_id, "entered by" %>
  <%= select :query, :payee_shareholder_id, grouped_options_for_select(BalanceEntryQuery.grouped_shareholders,@query.payee_shareholder_id) %>
  <%= label :query, :share_shareholder_id, "and shared by" %>
  <%= select :query, :share_shareholder_id, grouped_options_for_select(BalanceEntryQuery.grouped_shareholders,@query.share_shareholder_id) %>
  <br>
  <button type="submit" class="btn">Search</button> 
</form>

<table class="table-striped table-bordered table-condensed">
  <tr>
    <th>Date</th>
    <th>Payee</th>
    <th>Bill</th>
    <th>Credit</th>
    <th>Type</th>
    <th>Note</th>
    <th>My Part</th>
    <th>My Balance</th>
    <th></th>
    <th></th>
  </tr>
<% @balance_events.each do |item| %>
  <% if item.bill.present? %>
    <%= render :partial => 'bill_row', :locals => { :bill_row => item.bill } %>
  <% else %>
    <%= render :partial => 'account_entry_row', :locals => { :account_entry_row => item.account_entry } %>
  <% end %>
<% end %>

</table>
<%= will_paginate @balance_events %>
