<h1>Listing Payees</h1>

<table>
  <th>
    <td>Payee Name</td>
    <td colspan=3 />
  </th>

<% @payees.each do |payee| %>
  <tr>
    <td><%= payee.name %></td>
    <td><%= link_to 'Show', payee %></td>
    <td><%= link_to 'Edit', edit_payee_path(payee) %></td>
    <td><%= link_to 'Destroy', payee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payee', new_payee_path %>
