<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Shared Bills', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">
              My Accounts
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% current_user.accounts.each do |account| %>
                <li>
                  <%= link_to account.name, account_balance_events_path(account) %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if @account.present? && !@account.new_record? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">
              <%= @account.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li <%= current_page?(account_balance_events_path(@account)) ? 'class="disabled"'.html_safe : nil %>>
                <%= link_to 'View account activity', account_balance_events_path(@account) %>
              </li>
              <li <%= current_page?(new_account_shareholder_bill_path(@account)) ? 'class="disabled"'.html_safe : nil %>>
                <%= link_to 'Enter a bill paid for by a housemate', new_account_shareholder_bill_path(@account) if can? :create, ShareholderBill %>
              </li>
              <li <%= current_page?(new_account_account_bill_path(@account)) ? 'class="disabled"'.html_safe : nil %>>
                <%= link_to 'Enter a bill paid out of this account', new_account_account_bill_path(@account) if can? :create, AccountBill %>
              </li>
              <li class="divider"></li>
              <li <%= current_page?(account_account_entries_path(@account)) ? 'class="disabled"'.html_safe : nil %>>
                <%= link_to 'View account ledger', account_account_entries_path(@account) %>
              </li>
              <li <%= current_page?(new_account_shareholder_account_entry_path(@account)) ? 'class="disabled"'.html_safe : nil %>>
                <%= link_to 'Add a ledger entry to credit a housemate', new_account_shareholder_account_entry_path(@account) if can? :create, ShareholderAccountEntry %>
              </li>
              <li <%= current_page?(new_account_unbound_account_entry_path(@account)) ? 'class="disabled"'.html_safe : nil %>>
                <%= link_to 'Add a ledger entry unrelated to bills', new_account_unbound_account_entry_path(@account) if can? :create, UnboundAccountEntry %>
              </li>
              <li class="divider"></li>
              <li <%= current_page?(account_path(@account)) ? 'class="disabled"'.html_safe : nil %>>
                <%= link_to 'Account overview', account_path(@account) %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Signed in as #{current_user.name}.", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <% unless request.original_fullpath == new_user_registration_path %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
          <% unless request.original_fullpath == new_user_session_path %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
