<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>House Bills: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= link_to(current_user.name, :edit_user_registration) if user_signed_in? %>
  <%= link_to("sign out", :destroy_user_session) if user_signed_in? %>
  <div id="messages">
    <% [:error, :warning, :notice, :message].each do |key| %>
      <%= content_tag :div, flash[key], :class => key, :id => key %>
    <% end %>
    <%= yield :error_messages %>
  </div>
<%= yield %>
</body>
</html>
