<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Share Bills" %></title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  <%= render "layouts/menu" %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <% if name == 'notice' %>
          <%= tag :div, id: "flash-notice", class: "alert alert-success" %>
        <% elsif name == 'alert' %>
          <%= tag :div, id: "flash-alert", class: "alert alert-alert" %>
        <% else %>
          <%= tag :div, id: "flash-#{name}", class: "alert alert-#{name}" %>
        <% end %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= msg %>
        </div>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
