<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render "layouts/menu" %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <% if name = 'notice' %>
          <%= content_tag :div, msg, id: "flash-notice", class: "alert alert-success" %>
        <% elsif name = 'alert' %>
          <%= content_tag :div, msg, id: "flash-alert", class: "alert alert-error" %>
        <% else %>
          <%= content_tag :div, msg, id: "flash-#{name}", class: "alert alert-info" %>
        <% end %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
